<a href="https://colab.research.google.com/github/StalkYy-06/5CS037-2024/blob/main/week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3.1 -Warm up exercise

In [ ]:
# mounting the drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
#loading in provided dataset and importing in panda DataFrame.
import pandas as pd
df=pd.read_csv('/content/gdrive/My Drive/Datasets0/Datasets/Titanic-Dataset.csv')

In [ ]:
# Checking info of the dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## Problem 1 - Sorting

In [ ]:
# Creating a DataFrame called fare that contains only the Fare column of the Titanic dataset.

fare = df[['Fare']]

# Print the head of the result.
fare.head()

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [ ]:
# Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic dataset, in that order.

class_age = df[['Pclass','Age']]

# Print the head of the result.

class_age.head()

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [ ]:
# Create a DataFrame called survived gender that contains the Survived and Sex columns of the Titanic dataset, in that order.

survived_gender = df[['Survived','Sex']]

# Print the head of the result.

survived_gender.head()

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

# Problem 2 - Subsetting :

## Subsetting rows:

In [ ]:
# Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it to fare gt 100.
fare_gt_100 = df[df['Fare'] > 100]

#View the printed result.
fare_gt_100.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C
195,196,1,1,"Lurette, Miss. Elise",female,58.0,0,0,PC 17569,146.5208,B80,C

In [ ]:
# Filtering the dataset for cases where Pclass is 1 and  assigning it to first class.

first_class = df[df['Pclass'] == 1]

# View the printed result.

first_class.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S

In [ ]:
# Filtering the dataset for cases where the passenger’s age is less than 18 and the passenger is female , assigning it to female under 18.

female_under_18 = df[(df['Age'] < 18) & (df['Sex'] == 'female')]

# View the printed result.

female_under_18.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S

## Subsetting Rows by Catergorical variables :

In [ ]:
# Filtering the dataset for passengers whose Embarked port is either "C" or "S", assigning the result to embarked c or s.

embarked_c_or_s = df[(df['Embarked'] == 'C') | (df['Embarked'] == 'S')]

# Printing the result.

embarked_c_or_s.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first or second class), assigning the result to first second class.
first_second_class = df[df['Pclass'].isin([1,2])]

# Printing the result

first_second_class.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

# 3.2 Exploratory Data Analysis Practice Exercise - 1.

## Which passenger had the highest fare paid relative to their age?

In [ ]:
# Calculating the median age to fill the missing values in the age column
median_age = df['Age'].median()

df['Age'].fillna(median_age)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
# Adding a colum to the dataset called "fare_per_year" containing fare divided by tha age of the passanger

df['fare_per_year'] = df['Fare'] / df['Age']

# Printing the result

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000

In [ ]:
# Subsetting rows where "fare_per_year" is higher than 5 and assigning it to "high_fare_age".

df['high_fare_year'] = df['fare_per_year']>5

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,high_fare_year
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,2.416667,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,71.283300,True
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,2.641667,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,53.100000,True
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,2.683333,False

In [ ]:
# sorting "high_fare_age" by descending "fare_per_year" and assigning this to "high_fare_age_srt"

high_fare_age_srt = df.sort_values(by='fare_per_year',ascending=False)

# Printing the result

high_fare_age_srt.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,high_fare_year
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,164.728261,True
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,75.775000,True
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S,46.900000,True
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,39.687500,True
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,39.000000,True

In [ ]:
# selecting only "Name" and "fare_per_year" columns of "high_fare_age_srt" and saving the result as result.

result = high_fare_age_srt[['Name', 'fare_per_year']]

In [ ]:
#looking at the results

result.head()

                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000

## Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their class?

In [ ]:
# Adding a colum to the dataset called "fare_per_class" containing fare divided by tha age of the passanger

df['fare_per_class'] = df['Fare'] / df['Pclass']

# Printing the result

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,high_fare_year,adult_males,fare_per_class
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,2.416667,False,True,2.416667
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,71.283300,True,False,71.283300
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,2.641667,False,False,2.641667
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,53.100000,True,False,53.100000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,2.683333,False,True,2.683333

In [ ]:
# substting rows where the passanger is male and an adult , assigning this to "adult_males"

df['adult_males'] = (df['Age'] >= 18) & (df['Sex'] == 'male')

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,high_fare_year,adult_males,fare_per_class
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,False,True,2.416667
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,True,False,71.283300
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,False,False,2.641667
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,True,False,53.100000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,False,True,2.683333

In [ ]:
# sorting "adult_males" by descending "fare_per_class"

adult_males_srt = df.sort_values(by="fare_per_class",ascending = False)

adult_males_srt.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,high_fare_year,adult_males,fare_per_class
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,14.637977,True,False,512.3292
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,14.231367,True,True,512.3292
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,14.637977,True,True,512.3292
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S,11.434783,True,False,263.0000
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S,4.109375,True,True,263.0000

In [ ]:
# selecting only the "Name" , "Age" and "fare_per_class" columns of "adult_males_sr" and saving the resultg as result.

result = adult_males_srt[['Name', 'Age', 'fare_per_class']]

# printing the results.

result.head()

                                   Name   Age  fare_per_class
258                    Ward, Miss. Anna  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
737              Lesurer, Mr. Gustave J  35.0        512.3292
88           Fortune, Miss. Mabel Helen  23.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000

## 3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:

### What percent of the total fare revenue came from each passenger class?

In [ ]:
# calculate the total Fare paid across all the passangers in the dataset

total_fare = df['Fare'].sum()

total_fare

28693.9493

In [ ]:
# subsetting for passangers in first class

frist_class = df[df["Pclass"]== 1]

# calculating their total fare

total_fare_f = frist_class['Fare'].sum()

total_fare_first_class

18177.4125

In [ ]:
# subsettion for passangers in second class

second_class = df[df["Pclass"]== 2]

# calculating their total fare

total_fare_s = second_class['Fare'].sum()

total_fare_s

3801.8417

In [ ]:
# subsettion for passangers in third class

third_class = df[df["Pclass"]== 3]

# calculating their total fare

total_fare_t = third_class['Fare'].sum()

total_fare_t

6714.6951

In [ ]:
# combining the fare totals from first, second and third classes into a list.

fare_by_class = [total_fare_f, total_fare_s, total_fare_t]

fare_by_class

[18177.4125, 3801.8417, 6714.6951]

In [ ]:
# dividing the toatls for each class by the overall total fare to get the proportion of fare revenue by class

fare_prop_by_class = [total_fare_f/total_fare, total_fare_s/total_fare, total_fare_t/total_fare]

fare_prop_by_class

[0.6334928771899656, 0.1324962855496507, 0.23401083726038366]

### What percent of the total number of passengers on the Titanic belonged to each age group

In [ ]:
# Creating a new column "age_group" that categorizes passengers into "child" (age < 18), "adult" (age 18{64), and "senior" (age 65 and above).

#setting the default value to "N/A"
df['age_group'] = 'N/A'

#changing the value to child if the age is below 18
df.loc[df['Age'] < 18, 'age_group'] = 'child'

# changing the value to adult if the age is below 65 and above 18
df.loc[(df['Age']>18) & (df['Age']<65),'age_group']='adult'

#changing the value to senior if the age is above 65
df.loc[df['Age'] >= 65, 'age_group'] = 'senior'

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,high_fare_year,adult_males,fare_per_class,age_group
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,False,True,2.416667,adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,True,False,71.283300,adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,False,False,2.641667,adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,True,False,53.100000,adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,False,True,2.683333,adult

In [ ]:
# calculating the total number of passengers on titanic

total_passengers = len(df)

total_passengers

891

In [ ]:
# counting the number of passengers in each age group

age_group_counts = df['age_group'].value_counts()

age_group_counts

age_group
adult     564
N/A       203
child     113
senior     11
Name: count, dtype: int64

In [ ]:
# Divide the count of each age group by the total number of passengers to get the proportion of passengers in each age group.

age_group_proportions = age_group_counts / total_passengers

age_group_proportions

age_group
adult     0.632997
N/A       0.227834
child     0.126824
senior    0.012346
Name: count, dtype: float64

In [ ]:
# converting the proportions to percentage

age_group_percentages = age_group_proportions * 100

# displaying the proportions as a percentage
age_group_percentages

age_group
adult     63.299663
N/A       22.783389
child     12.682379
senior     1.234568
Name: count, dtype: float64